



<footer class=" d-flex">
    <div>
      <h1>Products</h1>
      <ul>
        <li>our product</li>
        <li> our items</li>
        <li>our users</li>
        <li>price range</li>
        <li>our product</li>
        <li> our items</li>
        <li>our users</li>
        <li>price range</li>
      </ul>
    </div>
  
    <div>
      <h1>Products</h1>
      <ul>
        <li>our product</li>
        <li> our items</li>
        <li>our users</li>
        <li>price range</li>
        <li>our product</li>
        <li> our items</li>
        <li>our users</li>
        <li>price range</li>
      </ul>
    </div>
  
  
    <div>
      <h1>Products</h1>
      <ul>
        <li>our product</li>
        <li> our items</li>
        <li>our users</li>
        <li>price range</li>
        <li>our product</li>
        <li> our items</li>
        <li>our users</li>
        <li>price range</li>
      </ul>
    </div>
  
    <div>
      <h1>Products</h1>
      <ul>
        <li>our product</li>
        <li> our items</li>
        <li>our users</li>
        <li>price range</li>
        <li>our product</li>
        <li> our items</li>
        <li>our users</li>
        <li>price range</li>
      </ul>
    </div>
  
  
    <div>
      <h1>Products</h1>
      <ul>
        <li>our product</li>
        <li> our items</li>
        <li>our users</li>
        <li>price range</li>
        <li>our product</li>
        <li> our items</li>
        <li>our users</li>
        <li>price range</li>
      </ul>
    </div>
  
  
  </footer>
