.example-card {
    // max-width: 600px
    height: 320px;
    background-color: #1ff0b0;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 30px;

  }

  button{
      background-color: #4d4c48;
      color: white;
      
  }

