<!-- <mat-spinner *ngIf="showSpinner">

</mat-spinner>

<button mat-raised-button (click)="loadSpinner()" >Load</button> -->



<!-- 
<mat-toolbar color="primary" class="navbar">
 
  
  
  <div class="nav-item" >    
  <span></span>
 
    
 
 
 
   

</div>

</mat-toolbar> -->





<nav class="navbar navbar-expand-lg navbar-light ">
  <div class="container-fluid">
    <p class="nav-brand my-1 lead" routerLink="home" style="color:#1ff0b0 ;margin-left: 1.2rem; font-size: 14px;font-weight: 400;" >
      <mat-icon style="font-size: 40px;">store</mat-icon> &nbsp; Products&trade; </p>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon " style="color: white;"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto ">
        <li class="nav-item">
         <span> <a  routerLinkActive="active" routerLink="home"> Home </a></span>
        </li>
        <li class="nav-item">
          <span><a routerLinkActive="active" routerLink="contactus">Contact Us</a></span>
        </li>
        <li class="nav-item">
          <span><a routerLinkActive="active" routerLink="edit">Product</a></span>
        </li>

        <li class="nav-item">
          <span><a routerLinkActive="active">About Us</a></span>
        </li>
        <li class="nav-item">
          <span><a routerLinkActive="active" routerLink="logout">Logout</a></span>
        </li>
       
      </ul>
    </div>
  </div>
</nav>



<router-outlet>

</router-outlet>

