
input{
    color: white !important;
}
.example-stepper{
    padding: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
}

mat-stepper{
    background-color: #1ff0b0;
    ;
}

p{
    font-size: 1.1rem;
    color: whitesmoke;
}



button{
    color: whitesmoke;
    background-color: #4d4c48;
}

.ct{
border-bottom: 2px solid whitesmoke;
}